<head>
  <meta charset="UTF-8">

  {# Responsive Web Design — The Viewport
     https://www.w3schools.com/css/css_rwd_viewport.asp #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# Page title, author and generator #}
  <title>{% inlineMarkdownP "plain" %}{% renderLiquid "title", pageData %}{% endinlineMarkdownP %}</title>
  <meta name="generator" content="@11ty/eleventy" >

  {# The Essential Meta Tags for Social Media
     https://css-tricks.com/essential-meta-tags-social-media/ #}
  {% set https_base_url = 'https://' + links.canonical_base_url %}
  {% set canonical_url = https_base_url + page.url %}
  <meta name="twitter:card" content="summary" >
  <meta name="twitter:site" content="@{{links.twitter_url | replace("https://twitter.com/", "")}}" >
  <meta name="twitter:title" content="{% inlineMarkdownP "plain" %}{% renderLiquid "title", pageData %}{% endinlineMarkdownP %}" >
  <meta property="og:title" content="{% inlineMarkdownP "plain" %}{% renderLiquid "title", pageData %}{% endinlineMarkdownP %}">
  {% if lead %}
    <meta name="twitter:description" content="{% inlineMarkdownP "plain" %}{{lead}}{% endinlineMarkdownP %}" >
  {% endif %}
  {% if image %}
    <meta name="twitter:image" content="{{https_base_url}}{{image}}" >
    <meta name="og:image" content="{{https_base_url}}{{image}}" >
  {% elif lead_image %}
    <meta name="twitter:image" content="{{https_base_url}}{{lead_image}}" >
    <meta name="og:image" content="{{https_base_url}}{{lead_image}}" >
  {% endif %}
  <meta property="og:type" content="article" >
  <meta property="og:url" content="{{canonical_url}}">
  <link rel="canonical" href="{{canonical_url}}">

  {# CSS styles #}
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">

  {# Web App Manifest and favicons #}
  {% include "favicons.njk" %}

  {# Netlify Identity widget (required to login users, only used for CMS on /admin/ for now) #}
  {% if path == "home" %}
    <script async type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}
</head>
