<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if path == "home" %}
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </head>
  <body>
    <header>
      <a href="/{{locale}}">{{texts[locale].home}}</a> |
      <a href="/blog/{{locale}}">{{texts[locale].blog}}</a> |
      {% for translation in translations %}
        {% if not loop.first %}/{% endif %}
        <a href="{{translation.url}}">{{translation.locale}}</a>
      {% endfor %}
    </header>
    {{ content | safe }}
    <footer>
      {{texts[locale].contact}} |
      <a href="/about/{{locale}}">{{texts[locale].about}}</a>
    </footer>
  </body>
</html>
