src/assets/large-media/** filter=lfs diff=lfs merge=lfs -text
src/assets/large-media/README.md !filter !diff !merge text
src/assets/media/** filter=lfs diff=lfs merge=lfs -text
src/assets/media/README.md !filter !diff !merge text
