/* CSS Tricks › A Complete Guide to Links and Buttons
   https://css-tricks.com/a-complete-guide-to-links-and-buttons/ */

/* Base button styles */

button,
a.pill {
  border-radius: 1em;
  border: var(--color-btn-border);
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  box-shadow: var(--color-btn-shadow);
  white-space: nowrap;
  text-decoration: none;
  transition: box-shadow 400ms ease, background 200ms ease;
  width: fit-content;
  cursor: pointer;
}

button {
  padding: 0.25em 1.5em;
  margin: 0.25em;
}

a.pill {
  font-size: var(--text-sm-font-size);
  padding: 0.15em 0.5em;
  margin: 0 0.25em;
}

button:focus,
a.pill:focus {
  border-color: var(--color-btn-hover-border);
}

button:hover,
a.pill:hover {
  background-color: var(--color-btn-hover-bg);
  border: var(--color-btn-hover-border);
  color: var(--color-btn-hover-text);
  box-shadow: var(--color-btn-hover-shadow);
  transition: box-shadow 400ms ease, background 200ms ease;
}

/* Button variants */

button.primary {
  border: var(--color-btn-primary-border);
  background-color: var(--color-btn-primary-bg);
  color: var(--color-btn-primary-text);
  box-shadow: var(--color-btn-primary-shadow);
}

button.primary:focus {
  border-color: var(--color-btn-primary-hover-border);
}

button.primary:hover {
  background-color: var(--color-btn-primary-hover-bg);
  border: var(--color-btn-primary-hover-border);
  color: var(--color-btn-primary-hover-text);
  box-shadow: var(--color-btn-primary-hover-shadow);
}