---
layout: defaultWithHero
---
<section id="story">
  <h1>{% inlineMarkdown story_title %}</h1>
  {% markdown story %}
  <div class="stack-layout with-gutters">
    {% for person in people %}
      <contact-card class="stack-cell"
          name="{{person.name}}"
          img-src="{{person.image}}">
        <h2>{{person.name}}</h2>
        {% markdown person.description %}
        <p>
          {% if person.twitter %}
            <a href="{{person.twitter}}" target="_blank">twitter</a>
          {% endif %}
          {% if person.linkedin %}
            <a href="{{person.linkedin}}" target="_blank">linkedin</a>
          {% endif %}
          {% if person.email %}
            <a href="{{person.email}}">email</a>
          {% endif %}
        </p>
      </contact-card>
    {% endfor %}
  </div>
</section>

<section id="philosophy">
  <h1>{% inlineMarkdown philosophy_title %}</h1>
  {% markdown philosophy %}
</section>

<script type="module">
  import '/components/contact-card.js';
</script>
