---
layout: default
---
<h1>{{title}}</h1>
<p>{% markdown lead %}</p>
{% if collections.editorial %}
{% set signup = i18n.signup[locale] %}</p>
<p>{{signup.title}} ({{signup.first_name}}, {{signup.last_name}}, {{signup.email}})</p>
<h2>{{editorials_title}}</h2>
{% for post in collections.editorial %}
  {% if post.data.locale == locale %}
    <div>
        <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
        {% markdown post.data.lead %}
        <img src="{{post.data.image}}">
    </div>
  {% endif %}
{% endfor %}
{% endif %}
{% if collections.interview %}
  <h2>{{interviews_title}}</h2>
  {% for post in collections.interview %}
    {% if post.data.locale == locale %}
      <div>
        <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
        {% markdown post.data.lead %}
        <img src="{{post.data.image}}">
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if collections.infographic %}
  <h2>{{infographics_title}}</h2>
  {% for post in collections.infographic %}
    {% if post.data.locale == locale %}
      <div>
        <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
        {% markdown post.data.lead %}
        <img src="{{post.data.image}}">
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<h2>{{categories_title}}</h2>
<ul>
    {% for category in collections.post_category %}
        {% if category.data.locale == locale %}
            <li><a href="{{category.data.page.url}}">{{category.data.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h2>{{authors_title}}</h2>
<ul>
    {% for author in collections.post_author %}
        {% if author.data.locale == locale %}
            <li><a href="{{author.data.page.url}}">{{author.data.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
