---
layout: defaultWithLeadTitle
---
<section id="description" class="with-no-space-before">
  <div class="grid-layout-halves with-gutters with-no-space-before">
    {% for post in collections.post %}
      {% set post_categories = post.data.post_categories %}
      {% if post.data.locale == locale
        and id in post_categories %}
        <article-breakout class="grid-cell" layout="box"
            href="{{post.url | url}}" img-src="{{post.data.image | url}}">
          <span slot="caption">{% inlineMarkdown post.data.image_caption %}</span>
          <h2>{% inlineMarkdown post.data.title %}</h2>
          {% markdown post.data.lead %}
          <button>{{i18n.globals[locale].read_more}}</button>
        </article-breakout>
      {% endif %}
    {% endfor %}
  </div>
</section>

<script type="module">
  import '/components/article-breakout.js';
</script>