---
layout: defaultWithHero
inverse: true
---
{#
  Would we need custom HTML per language, copy & override
  the code to `home/en/index.html` and `home/fr/index.html`
#}
<section id="purpose">
  <h1>{% inlineMarkdown paragraph1_title %}</h1>
  <div class="grid-layout-halves with-gutters">
    <div class="grid-cell">
      <h2>{% inlineMarkdown community_title %}</h2>
      {% markdown community_description %}
      <a href="/{{locale}}/community/"><button>{{community_link_text}}</button></a>
    </div>
    <div class="grid-cell">
      <h2>{% inlineMarkdown mission_title %}</h2>
      {% markdown mission_description %}
      <a href="/{{locale}}/mission/"><button>{{mission_link_text}}</button></a>
    </div>
    <div class="grid-cell">
      <h2>{% inlineMarkdown partners_title %}</h2>
      {% markdown partners_description %}
      <a href="/{{locale}}/partners/"><button>{{partners_link_text}}</button></a>
    </div>
  </div>
</section>

<section id="newsletter" class="newsletter">
  <newsletter-signup
    lang="{{locale}}"
    form-name="‹NEWSLETTER-FORM-NAME›">
  </newsletter-signup>
</section>

<script type="module">
  import '/components/newsletter-signup.js';
</script>