---
layout: defaultWithHero
inverse: true
---
{#
  Would we need custom HTML per language, copy & override
  the code to `home/en/index.html` and `home/fr/index.html`
#}
<section id="purpose">
  <h1>{% inlineMarkdown paragraph1_title %}</h1>
  <div class="grid-layout-halves with-gutters">
    <div class="grid-cell">
      <h2>{% inlineMarkdown community_title %}</h2>
      {% markdown community_description %}
      <a href="/{{locale}}/community/"><button>{{community_link_text}}</button></a>
    </div>
    <div class="grid-cell">
      <h2>{% inlineMarkdown mission_title %}</h2>
      {% markdown mission_description %}
      <a href="/{{locale}}/mission/"><button>{{mission_link_text}}</button></a>
    </div>
    <div class="grid-cell">
      <h2>{% inlineMarkdown partners_title %}</h2>
      {% markdown partners_description %}
      <a href="/{{locale}}/partners/"><button>{{partners_link_text}}</button></a>
    </div>
  </div>
</section>

<section id="news">
  <h1>{% inlineMarkdown news_title %}</h1>
  <noscript>You need JavaScript enabled to see
    the additional news articles hereafter.</noscript>
  <div class="grid-layout-halves with-gutters">
    {% set news = {editorial: news_editorials,
                   interview: news_interviews,
                   infographic: news_infographics} %}
    {% for news_type, news_ids in news %}
      {% for edito in collections[news_type] %}
        {% if edito.data.locale == locale and news_ids
           and edito.data.id in news_ids %}
          <article-breakout
              class="grid-cell" layout="box"
              href="{{edito.url | url}}" img-src="{{edito.data.image | url}}">
            <span slot="caption">{% inlineMarkdown edito.data.image_caption %}</span>
            <h2>{% inlineMarkdown edito.data.title %}</h2>
            {% markdown edito.data.lead %}
            <button>{{i18n.globals[locale].read_more}}</button>
          </article-breakout>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</section>

<section id="newsletter" class="newsletter">
  <newsletter-signup
    lang="{{locale}}"
    form-name="‹NEWSLETTER-FORM-NAME›">
  </newsletter-signup>
</section>

<script type="module">
  import '/components/article-breakout.js';
  import '/components/newsletter-signup.js';
</script>