---
layout: defaultWithLeadTitle
---
<section id="post">
  <p>
    {{i18n.globals[locale].by_author}} {% for author in collections.post_author %}
      {% if author.data.id in post_authors
         and author.data.locale == locale %}
        <a href="{{author.data.page.url | url}}">{{author.data.name}}</a>
      {% endif %}
    {% endfor %}
    {{i18n.globals[locale].published_on}} {{ date | readableDate(locale)}}
  </p>
  <p>
    {% for category in collections.post_category %}
      {% if category.data.id in post_categories
         and category.data.locale == locale %}
        <a class="pill" href="{{category.data.page.url | url}}">{{category.data.name}}</a>
      {% endif %}
    {% endfor %}
  </p>
  <figure>
    <img src="{{pageData | getLocalizedOrDefault("image")| url}}">
    <figcaption>{% inlineMarkdown pageData | getLocalizedOrDefault("image_caption") %}</figcaption>
  </figure>
  {{ content | safe }}
</section>
{% set suggested_lod = pageData | getLocalizedOrDefault("suggested") %}
{% if suggested_lod | length %}
  <section id="suggested-posts">
    <h1>{% inlineMarkdown i18n.globals[locale].suggested_posts_title %}</h1>
    {% for item in suggested_lod %}
      {% for post in collections[item.type] %}
        {% if post.data.locale == locale and post.data.id == item.post %}
          <p><a href="{{post.url | url}}">
            {% inlineMarkdown post.data.title %}</a></p>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </section>
{% endif %}

{% if show_social_sharing %}
  <section id="engage">
    {% include "share.njk" %}
  </section>
{% endif %}

<section id="newsletter" class="newsletter">
  <newsletter-signup
    lang="{{locale}}"
    form-name="newsletter-eye-signup">
  </newsletter-signup>
</section>

<script type="module">
  import '/components/newsletter-signup.js';
</script>
