---
layout: defaultWithHero
---
<section id="intro">
  {{ content | safe }}
</section>

{% set articleLayout = cycler("card-alt", "card") %}
<section id="partners">
  <div class="stack-layout with-gutters">
    {% for partner in partners %}
      <article-breakout
          class="grid-cell" layout="{{articleLayout.next()}}"
          href="{{partner.url | url}}" img-src="{{partner.image | url}}">
        <span slot="caption">{% inlineMarkdown partner.image_caption %}</span>
        <h2>{% inlineMarkdown partner.title %}</h2>
        {% markdown partner.description %}
        <button>{{partner.button}}</button>
      </article-breakout>
    {% endfor %}
  </div>
</section>

<script type="module">
  import '/components/article-breakout.js';
</script>